@import "../../../../styles/rwd";
.Feature{
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0.5em;
    min-height:50px;
    background-color: rgba(255,255,255, 0.01);
    transition: background-color ease-out 0.4s, transform ease-out 0.4s;
    -webkit-font-smoothing: subpixel-antialiased;

    @include mq(medium){
        min-height: 250px;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 0 100%);
    }

    &:hover {
        background-color: rgba(255,255,255, 0.2);
        transform: scale(1.02);
    }
}

a.FeatureLink{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    color: #fff !important;
    background-color: rgba(255,255,255, 0.05);
    //border: 2px solid #fff;
    //border-radius: 1em;
    text-shadow: 1px 1px #000;

    @include mq(medium){
        min-height: 250px;
        //border: 8px solid #fff;
    }
}

i.FeatureIcon{
    font-size: 4em;
}

