@import "../../../styles/rwd";

.Features{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background: $color-danger;
  align-items: stretch;

  @include mq(medium){
    flex-flow: row nowrap;
  }
}